@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Apercu";
  src: url("../public/ApercuPro-Regular.woff2");
}

@font-face {
  font-family: "ApercuBold";
  src: url("../public/ApercuPro-Bold.woff2");
}

@font-face {
  font-family: "ApercuItalic";
  src: url("../public/ApercuPro-Italic.woff2");
}

@font-face {
  font-family: "CervinoNeue";
  src: url("../public/Cervino-RegularNeue.woff2") format("opentype");
}

@font-face {
  font-family: "CevirnoNeueBold";
  src: url("../public/Cervino-BoldNeue.woff2") format("opentype");
}

@font-face {
  font-family: "CevirnoNeueSemiBold";
  src: url("../public/Cervino-SemiBoldNeue.woff2") format("opentype");
}

body {
  @apply font-apercu text-xl;
}

h2 {
  @apply font-cevirnosemibold text-5xl;
}

h3 {
  @apply font-cevirnosemibold text-3xl;
}
